*, :after, :before{
  padding:0;
  margin:0;
  box-sizing: border-box;
}

:root {
  --theme:#116AE7;
}

.mainContainer{
  padding:20px;
  background-color: #F5F7FB;
  height:100vh;
  overflow: scroll;
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header h3{
  font-size: 20px;
  font-weight: 500;
}

.header button{
  padding:7px 27px;
  border:1px solid var(--theme);
  border-radius: 3px;
  font-size: 13px;
  background-color: transparent;
  color:var(--theme);
}

.form-card{
  padding: 20px 15px 15px;
  background: #FFFFFF;
  box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.13);
  border-radius: 3px;
  margin:20px 0;
}

.form-card h4{
  font-size: 14px;
  margin: 0 0 15px 10px;
}

.form-card .inputFields{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.form-card .inputFields .detailCheckCont{
  border-radius: 3px;
  position: relative;
  overflow: hidden;
  margin:0px 10px 20px;
  width: 190px;
}

.form-card .inputFields .detailCheckCont input{
  width:100%;
  height:100%;
  position: absolute;
  top:0;
  left:0;
  opacity: 0;
  z-index: 2;
}
.form-card .inputFields .detailCheckCont input:checked + .detailCheck{
  background-color: var(--theme);
  border:1px solid var(--theme);
}

.form-card .inputFields .detailCheckCont input:checked + .detailCheck p{
  color:#fff;
}

.form-card .inputFields .detailCheckCont .detailCheck{
  text-align: center;
  width:100%;
  height:100%;
  padding:7px 15px;
  border: 1px solid rgba(43, 45, 66, 0.4);
  border-radius: 3px;
  position: relative;
}

.form-card .inputFields .detailCheckCont .detailCheck:after{
  content: '';
  position: absolute;
  top: 50%;
  left: 4px;
  transform: translateY(-50%);
 // background-image: url(vector.svg);
  width: 15px;
  height: 15px;
  background-size: 13px;
  background-position: center;
  background-repeat: no-repeat;
}

.form-card .inputFields .detailCheckCont .detailCheck p{
  color:#AAABB3;
  font-size: 13px;
  font-weight: 500;
}

.btns{
  text-align: right;
  padding:15px 0;
}

.btns .btnOutline, .btns .btnFill{
  border:1px solid var(--theme);
  box-shadow:0px 5px 6px rgba(17, 106, 231, 0.16);
  border-radius: 3px;
  padding:7px 55px;
  font-size: 18px;
  font-weight: 500;
  color:var(--theme);
  transition: all ease 0.4s;
}

.btns .btnFill, .btns .btnOutline:hover, .header button:hover{
  background-color: var(--theme);
  color: #fff;
}

@media(min-width:1400){
  .form-card .inputFields .detailCheckCont{
    width:15%;
  }
}
@media(max-width:1200px){
  .form-card .inputFields .detailCheckCont{
    width:22%;
  }
  .form-card .inputFields .detailCheckCont .detailCheck:after{
    background-size: 10px;
  }
}
@media(max-width:768px){
  .form-card .inputFields .detailCheckCont{
    width:29%;
  }
  .form-card .inputFields .detailCheckCont .detailCheck:after{
    left:2px;
  }
}
@media(max-width:576px){
  .header{
    flex-wrap: wrap;
  }
  .headerBtn{
    margin-top:20px;
  }
  .form-card .inputFields{
    justify-content: space-between;
  }
  .form-card .inputFields .detailCheckCont{
    width:42%;
  }
  .btns{
    text-align: center;
  }
  .btns .btnOutline, .btns .btnFill{
    padding:7px 35px;
    font-size: 14px;
  }
}